{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons social-icons-horizontal">
      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}" title="Email"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.keybase %}
        <li><a href="https://keybase.io/{{ author.keybase }}"><i class="fas fa-fw fa-key" aria-hidden="true"></i> Keybase</a></li>
      {% endif %}
       {% if author.researchgate %}
        <li><a href="{{ author.researchgate }}" title="ResearchGate"><i class="fab fa-fw fa-researchgate" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.twitter %}
        <li><a href="https://twitter.com/{{ author.twitter }}" title="Twitter"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.bluesky %}
        <li><a href="https://bsky.app/profile/{{ author.bluesky | remove: '@' }}" title="Bluesky"><img src="{{ base_path }}/images/bluesky-logo.png" class="bluesky-icon" alt="Bluesky"></a></li>
      {% endif %}
      {% if author.facebook %}
        <li><a href="https://www.facebook.com/{{ author.facebook }}" title="Facebook"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.google_plus %}
        <li><a href="https://plus.google.com/+{{ author.google_plus }}" title="Google+"><i class="fab fa-fw fa-google-plus" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}" title="LinkedIn"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.xing %}
        <li><a href="https://www.xing.com/profile/{{ author.xing }}" title="XING"><i class="fab fa-fw fa-xing-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.instagram %}
        <li><a href="https://instagram.com/{{ author.instagram }}" title="Instagram"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.tumblr %}
        <li><a href="https://{{ author.tumblr }}.tumblr.com" title="Tumblr"><i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.bitbucket %}
        <li><a href="https://bitbucket.org/{{ author.bitbucket }}" title="Bitbucket"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}" title="GitHub"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if author.stackoverflow %}
        <li><a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}"><i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i> Stackoverflow</a></li>
      {% endif %}
      {% if author.lastfm %}
        <li><a href="https://lastfm.com/user/{{ author.lastfm }}"><i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i> Last.fm</a></li>
      {% endif %}
      {% if author.dribbble %}
        <li><a href="https://dribbble.com/{{ author.dribbble }}"><i class="fab fa-fw fa-dribbble-square" aria-hidden="true"></i> Dribbble</a></li>
      {% endif %}
      {% if author.pinterest %}
        <li><a href="https://www.pinterest.com/{{ author.pinterest }}"><i class="fab fa-fw fa-pinterest" aria-hidden="true"></i> Pinterest</a></li>
      {% endif %}
      {% if author.foursquare %}
        <li><a href="https://foursquare.com/{{ author.foursquare }}"><i class="fab fa-fw fa-foursquare" aria-hidden="true"></i> Foursquare</a></li>
      {% endif %}
      {% if author.steam %}
        <li><a href="https://steamcommunity.com/id/{{ author.steam }}"><i class="fab fa-fw fa-steam-square" aria-hidden="true"></i> Steam</a></li>
      {% endif %}
      {% if author.youtube %}
        <li><a href="https://www.youtube.com/user/{{ author.youtube }}"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a></li>
      {% endif %}
      {% if author.soundcloud %}
        <li><a href="https://soundcloud.com/{{ author.soundcloud }}"><i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i> Soundcloud</a></li>
      {% endif %}
      {% if author.weibo %}
        <li><a href="https://www.weibo.com/{{ author.weibo }}"><i class="fab fa-fw fa-weibo" aria-hidden="true"></i> Weibo</a></li>
      {% endif %}
      {% if author.flickr %}
        <li><a href="https://www.flickr.com/{{ author.flickr }}"><i class="fab fa-fw fa-flickr" aria-hidden="true"></i> Flickr</a></li>
      {% endif %}
      {% if author.codepen %}
        <li><a href="https://codepen.io/{{ author.codepen }}"><i class="fab fa-fw fa-codepen" aria-hidden="true"></i> CodePen</a></li>
      {% endif %}
      {% if author.vine %}
        <li><a href="https://vine.co/u/{{ author.vine }}"><i class="fab fa-fw fa-vine" aria-hidden="true"></i> Vine</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}" title="Google Scholar"><i class="fas fa-fw fa-graduation-cap"></i></a></li>
      {% endif %}
      {% if author.pubmed %}
        <li><a href="{{ author.pubmed }}" title="PubMed"><i class="ai ai-pubmed-square ai-fw"></i></a></li>
      {% endif %}
      {% if author.orcid %}
        <li><a href="{{ author.orcid }}" title="ORCID"><i class="ai ai-orcid-square ai-fw"></i></a></li>
      {% endif %}
      {% if author.impactstory %}
        <li><a href="{{ author.impactstory }}"><i class="ai ai-impactstory ai-fw"></i> Impactstory</a></li>
      {% endif %}
      {% if author.wikipedia %}
        <li><a href="https://en.wikipedia.org/wiki/User:{{ author.wikipedia }}"><i class="fab fa-fw fa-wikipedia-w" aria-hidden="true"></i> Wikipedia</a></li>
{% endif %}
    </ul>
  </div>
</div>

<div class="author-news-section">
  <h3 class="author-news__title">News & Events</h3>
  <div class="author-news__list">
    <div class="author-news__item">
      <span class="author-news__date">Oct 2025</span>
      <span class="author-news__content">Joao will give two talks at Bernstein Workshops 2025: <a href="https://bernstein-network.de/bernstein-conference/program/satellite-workshops/machine-learning/">Machine Learning</a> and <a href="https://bernstein-network.de/bernstein-conference/program/satellite-workshops/top-down/">Top-down</a></span>
    </div>
    <div class="author-news__item">
      <span class="author-news__date">Sept 2025</span>
      <span class="author-news__content">Joao teaching at <a href="https://www.uc.pt/events/computationalbiology/2025/">Summer School on Computational Biology, Coimbra</a></span>
    </div>
    <div class="author-news__item">
      <span class="author-news__date">Aug 2025</span>
      <span class="author-news__content">Lubna gave a talk at <a href="https://2025.ccneuro.org/">CCN 2025, Amsterdam</a></span>
    </div>
    <div class="author-news__item">
      <span class="author-news__date">Aug 2025</span>
      <span class="author-news__content">Joao participated in the <a href="https://compneurosci.com/Neuro4Pros/index.html">Neuroscience Leadership Training in Kingston, Canada</a></span>
    </div>
    <div class="author-news__item">
      <span class="author-news__date">July 2025</span>
      <span class="author-news__content">Joao taught at <a href="https://www.csh-asia.org/?content/2621">Cognitive and Computational Neuroscience Summer School, Suzhou, China</a></span>
    </div>
    <div class="author-news__item">
      <span class="author-news__date">July 2025</span>
      <span class="author-news__content">Joao taught at <a href="https://biortc.com/computational-neuroscience-course-2025/">Simons-BioRTC Computational Neuroscience Summer School, Damaturo, Nigeria</a></span>
    </div>
    <div class="author-news__item">
      <span class="author-news__date">May 2025</span>
      <span class="author-news__content">Philipp and Joao gave talks at Mathematics of Neuroscience and AI in Split. Kaleab presented a poster.</span>
    </div>
  </div>
</div>
